
/* Animaciones individuales */
    

    .caja {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}    
       .mover{
    width: 100px;
    height: 100px;
    background-image: url('img/perrito.png');
    background-size: cover; 
     width: 170px;
    height: 200px;
    animation: moverAnim 3s infinite ease-in-out;
    }
 
    .escalar {
        width: 100px;
        height: 100px;
        background-image: url('img/fisheye.png');
        background-size: cover; 
        margin-bottom: 10px;
        animation: escalarAnim 3s infinite ease-in-out;
    }
 
    .rotar {
        width: 100px;
        height: 100px;
        background-image: url('img/mapache.png');
        background-size: cover; 
        margin-bottom: 10px;
        animation: rotarAnim 3s infinite linear;
    }
 
    .color {
        width: 100px;
        height: 100px;
        background-color: crimson;
        margin-bottom: 10px;
        animation: colorAnim 3s infinite ease-in-out;
    }
 
    /* Keyframes */
    @keyframes moverAnim {
        0% {
            transform: translateX(0);
        }
 
        100% {
            transform: translateX(150px);
        }
    }
 
    @keyframes escalarAnim {
        0% {
            transform: scale(1);
        }
 
        100% {
            transform: scale(1.5);
        }
    }
 
    @keyframes rotarAnim {
        0% {
            transform: rotate(0deg);
        }
 
        100% {
            transform: rotate(360deg);
        }
    }
 
    @keyframes colorAnim {
        0% {
            background-color: crimson;
        }
 
        100% {
            background-color: dodgerblue;
        }
    }
    